<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="event_form">
      <%= render 'shared/event_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Previous Events</h3>
    <%= render 'shared/events', collection: @previous %>
    <h3>next Events</h3>
    <%= render 'shared/events', collection: @next %>
  </div>
</div>
